.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content {
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.home-content h1 {
  margin-bottom: 20px;
}

.home-content p {
  margin-bottom: 10px;
}

.home-content a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}
